.assignment{
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0 0.3vw 2vh;
  width: 100%;
  background-color: #ddd;
  height: auto;
}
.assignmenthead{
   color:black;
   font-weight:700;
   font-size: 120%;
   margin-left:50px;
}
.asscontainer{
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0 0.3vw 2vh;
  width: 70%;
  background-color: white;
  margin-left: 100px;
  height: auto;
}
.statustable{
  border-collapse: collapse;
  border-spacing: 0;
  width:70%;
  margin-left:100px;
}
th,td{
  text-align:left;
  padding:16px;
}
tr:nth-child(even){
  background-color: lightgrey;
}
.button{
  background-color:rgba(128,128,128,0.3);

  color:black;
  margin-left: 280px;
  width:40%;
  height:40px;
}
.button:hover{
  background-color:rgba(128,128,128,0.7);
}
.lightbox{
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  box-sizing: border-box;
  padding:2vw 2vh 2vw 2vh;
  width:60vw;
  border-width: thin;
  border-color:lightgrey;
  border-style: solid;
}
button{
   width:100%;
   background-color: green;
   opacity:0.5;
   color:white;
   height:4vh;
}
.lable{
   color:grey;
   font-size:100%;
   opacity:80%;
}
input{
  width:90%;
  display:block;
  height:2vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  height:4vw;
  padding:2vw 2vh;
  margin-bottom: 2vw;
  font-size: 105%;
  color:solid black;

}
button:hover{
  opacity:1;
}
