.msgservice{
width:auto;
height:auto;
background-color:LightGrey;
}

.headerpart{
width:auto;
height:400px;
background-image:url('../Imgs/training_2.jpg');
}
h1{
color:black;
}
h2{
color:LightSlateGrey;
}

.bodypart{
width:auto;
height:auto;
}
.Message{
width:auto;
height:auto;
background-color:LemonChiffon;
font-size:20;
}
.image{
width:auto;
height:410px;
background-image:url('../Imgs/mail.jpg');

}