.nicdetails{
width:auto;
height:auto;
background-color:Grey;
}

.headerpart{
width:auto;
height:400px;
background-image:url('../Imgs/grad.jpg');
}
h1{
color:white;
}
h2{
color:LightSlateGrey;
}
.bodypart{
width:auto;
height:auto;
background-color:LightGrey;
}
.details{
width:auto;
height:auto;
font-size:22;
}
