.regapplication{
width:auto;
height:auto;
font-size:22;
}

.headerpart{
width:auto;
height:30vw;
background-image:url('../Imgs/training_2.jpg');
}

.linkbar{
width:auto;
height:5vw;
background-color:SlateGrey;
}
.linkbar a{
color:white;
font-size:26;
text-decoration:none;
}

.linkbar a:hover{
background-color:white;
color:blue;
}
.bodypart{
width:100%;
height:auto;

}
.application{
width:98%;
height:auto;
margin: 3vmin;
background-color:wheat;
}
/* border: 2px dotted grey;
border-radius: 10px;
padding: 5vmin;
} */
/* margin: 3vmin;
border: 2px dotted grey;
border-radius: 10px;
padding: 5vmin; */
/* display:inline-block; */

/* .coursedetails{
width:30vw;
height:45vw;
float:right;
background-color:snow;
}
h2{
color:green;
}
.courses{
width:25vw;
height:auto;
}
h4{
color:blue;
font-size:20;
text-align:center;
}
p{
text-align:center;
} */

.body_navigation {

  background: linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -webkit-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -moz-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -o-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  width: 100vw;
  height: 27vmin;
  min-height: 90px;
}

.body_navigation ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  font-size: 4vmin;
  font-weight: 500;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  text-align: center;
}

.body_navigation ul li a {
  text-decoration: none;
  color: grey;
}

.body_navigation ul li a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: black;
}

@media screen and (min-width:900px){
  .slider {
    height: 90vmin;
  }

  .slide {
    height: 90vmin;
  }
}
.error{
	display: none;
	margin-left: 10px;
}

.error_show{
	color: red;
  font-size: 105%;
  margin-right: 5vw;

}
input.invalid{
	border: 2px solid red;
}
input.valid, textarea.valid{
	border: 2px solid green;
}
span{
  margin-right:2vw;
  float:right;
}
.error{
  color:red;
}
input[type=text]{
  width:75%;
  padding:6px 10px;
  margin:8px 0;
  box-sizing: border-box;
  resize: vertical;

}
input[type=textarea]{
  width:400px;
  height: 100px;
  padding:3px 3px;
  margin:0 0;
  box-sizing: border-box;
  resize: none;
}
input[type="text"],select{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:0.1vw 0.1vh;
  margin-bottom: 2vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
  padding-left: 0.5vw;
}
input[type="date"]{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:1vw 0.1vh;
  margin-bottom: 2vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
}
input[type="year"]{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:1vw 0.1vh;
  margin-bottom: 1vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
}
input:focus{
   background-color:lightblue;
}
input[type=submit]{

  text-align:center;
  font-size: 120%;
  cursor: pointer;
}
input[type=radio]{
  cursor:pointer;
  display: run-in;
  height:2vh;

}
