.regapplication{
width:auto;
height:auto;
font-size:22;
}

.headerpart{
width:auto;
height:400px;
background-image:url('../Imgs/training_2.jpg');
}
h1{
color:FireBrick4;
}
.linkbar{
width:auto;
height:30px;
background-color:SlateGrey;
}
.linkbar a{
color:white;
font-size:20;
text-decoration:none;
}

.linkbar a:hover{
background-color:white;
color:blue;
}
.bodypart{
width:auto;
height:auto;

}
.application{
width:1128px;
height:auto;
background-color:LightGrey;
display:inline-block;
}
.coursedetails{
width:375px;
height:auto;
float:right;
background-color:snow;
}
h2{
color:green;
}
.courses{
width:365px;
height:auto;
}
h4{
color:blue;
font-size:20;
}
.pics{
width:375px;
height:320px;
background-image:url('../Imgs/gra.png');
}
