html{
  width:100vw;
}
body {

  background-color: #CCCCCC;
}
h2{
  text-align: center;
}
.error{
  color:red;
}
input[type=text]{
  width:75%;
  padding:6px 10px;
  margin:8px 0;
  box-sizing: border-box;
  resize: vertical;

}
input[type=textarea]{
  width:400px;
  height: 100px;
  padding:3px 3px;
  margin:0 0;
  box-sizing: border-box;
  resize: none;
}
input[type="text"],select{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:0.1vw 0.1vh;
  margin-bottom: 2vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
  padding-left: 0.5vw;
}
input[type="date"]{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:1vw 0.1vh;
  margin-bottom: 2vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
}
input[type="year"]{
  width:90%;
  display:block;
  height:6vh;
  border-color: lightgrey;
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  padding:1vw 0.1vh;
  margin-bottom: 1vw;
  font-size: 105%;
  color:solid black;
  margin-left:2vw;
}
input:focus{
   background-color:lightblue;
}
input[type=submit]{

  text-align:center;
  font-size: 120%;
  cursor: pointer;
}
input[type=radio]{
  cursor:pointer;
  display: run-in;
  height:2vh;

}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.btn {
  background-color:green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
label{
   color:grey;
   font-size:105%;
   opacity:80%;
   margin-left: 2vw;
}
.lightbox{
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  box-sizing: border-box;
  padding:2vw 2vh 2vw 2vh;
  width:60vw;
  border-width: thin;
  border-color:lightgrey;
  border-style: solid;
}
@media screen and (max-width:100vw;max-height:100vh) {
  .column {
    width: 100%;
    display: block;
  }
}
.slider {
  padding: 0 0 20px 0;
  width: 100vw;
  height: 60vmin;
  overflow: hidden;
}

.slides {
  display: block;
  list-style: none;
  padding: 0;
  width: 700vw;
  margin: 0;
  overflow: hidden;
}

.slide {
  float: left;
  width: 100vw;
  height: 60vmin;
}

.slide img {
  width: 100vw;
  height: 100%;
}
.error{
	display: none;
	margin-left: 10px;
}

.error_show{
	color: red;
  font-size: 105%;
  margin-right: 5vw;

}
input.invalid{
	border: 2px solid red;
}
input.valid, textarea.valid{
	border: 2px solid green;
}
span{
  margin-right:2vw;
  float:right;
}
