/******************************************************
PAGE: HOME
******************************************************/

/******** Image slider ********/
.slider {
  padding: 0 0 20px 0;
  width: 100vw;
  height: 60vmin;
  overflow: hidden;
}

.slides {
  display: block;
  list-style: none;
  padding: 0;
  width: 700vw;
  margin: 0;
  overflow: hidden;
}

.slide {
  float: left;
  width: 100vw;
  height: 60vmin;
}

.slide img {
  width: 100vw;
  height: 100%;
}

/******** Quote ********/
.quote {
  margin-top: -10vmin;
  padding: 10vmin 3vmin 8vmin 3vmin;
  font-size: 4vmin;
  font-style: italic;
  font-weight: bold;
  background-color: inherit;
  color: orange;
  width: 100vw;
  height: 10vmin;
}

/******** paragraph box ********/
.para_box {
  background-color: inherit;
  padding: 2vmin;
  margin: 3vmin 0;
  width: 95%;
  border-style: groove;
  border-radius: 10px;
  border-color: yellow;
  font-size: 3vmin;
}

.para_box h3 {
  color: brown;
}

.para_box p {
  color: chocolate;
  text-align: justify;
}

/******** Body navigation Panel ********/
.body_navigation {
  background: linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -webkit-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -moz-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -o-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  width: 100vw;
  height: 27vmin;
  min-height: 80px;
}

.body_navigation ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  font-size: 4vmin;
  font-weight: 500;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  text-align: center;
}

.body_navigation ul li a {
  text-decoration: none;
  color: grey;
}

.body_navigation ul li a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: black;
}


/******************************************************
Media Query
******************************************************/

@media screen and (min-width:900px){
  .slider {
    height: 90vmin;
  }

  .slide {
    height: 90vmin;
  }
}
