/******************************************************
PAGE: CREATE ASSIGNMENT
******************************************************/

/******** Navigation panel ********/
/***overriding few navigate attributes***/
.navigate ul {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
}

.navigate ul li:last-child {
  margin-left: inherit;
}


/********assignment details panel********/
.assignment_details {
  border: 2px solid yellow;
  padding: 4px;
  width: 98vw;
  height: auto;
  background-color: lightblue;
  float: left;
}

.assignment_details .label {
  margin: 2px 5px;
  font-size: 2vw;
}

.assignment_details .details_input {
  width: 25vw;
  height: 2vw;
}

#module_name {
  background-color: lightgrey;
}

/********question container********/
.container_questions {
  border: 2px solid yellow;
  margin: 0;
  padding: 4px;
  width: 98vw;
  height: auto;
  min-height: 50vh;
  background-color: lightblue;
  text-align: center;
  float: left;
}

.questions {
  text-align: justify;
}

.questions ul {
  list-style-type: decimal-leading-zero;
  font-size: 3vmin;
}

.question {
  margin: 3vh 1px 10vh;
  font-size: 3vmin;
}


/********button container********/
.container_buttons {
  width: 98vw;
  height: auto;
  min-height: 10vh;
  padding: 5px 2px;
}

.assign_button {
  background-color: orange;
  margin: 8px 0;
  width: 33%;
}

/********for all buttons********/
button[type="submit"] {
  color: white;
  padding: 5px;
  font-size: 3vmin;
  float: left;
}

button:hover {
  opacity: 0.7;
}

/********confirm dialog box(hidden)********/
.confirmBox {
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

.message {
  text-align: center;
  margin-bottom: 8px;
}

.confirmBox .button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.confirmBox .button:hover {
  background-color: #ddd;
}

/********set deadline dialog box (hidden)********/
#set_deadline {
  display: none;
  background-color: lightgreen;
  border: 1px solid green;
  position: fixed;
  width: 60%;
  max-width: 400px;
  height: auto;
  left: 20%;
  top: 20%;
  padding: 6px;
  box-sizing: border-box;
}

#deadline_option {
  display: none;
  margin: 5px;
  padding: 10px 6px;
  border: 1px dotted green;
}

#hasDeadline:checked ~ #deadline_option{
  display: block;
}

#deadline_option input[type="text"] {
  width: 40px;
}

#deadline_option .label {
  color: green;
  font-size: 2.5vmin;
  margin-right: 5px;
  opacity: 0.6;
}

#deadline_option .label_h {
  color: black;
  font-size: 2.5vmin;
  margin-right: 5px;
}

#deadline_buttons {
  display: flex;
  justify-content: center;
}

#create {
  background-color: green;
  color: white;
  width: 50%;
  height: 6vh;
  margin: 3%;
}

/********verify assignment popup table (hidden)********/
#popup_verify {
  display: none;
  background-color: #eee;
  border: 1px solid #aaa;
  position: fixed;
  width: 90%;
  height: auto;
  left: 5%;
  top: 5%;
  padding: 6px 5px;
  box-sizing: border-box;
  overflow: scroll;
  height: 100%;
}

#table_verify {
  text-align: left;
  font-size: 3vmin;
  margin-bottom: 8px;
  border-collapse: collapse;
  width: 98%;
}

#table_verify th {
  text-align: left;
  background-color: mediumspringgreen;
  color: green;
}

#table_verify td {
  vertical-align: top;
}

#table_verify th,
#table_verify td {
  padding: 5px;
  border: 2px solid green;
}

#table_verify tr:nth-child(odd) {
  background-color: lightgrey;
}

#table_verify tr:nth-child(even) {
  background-color: #aaa;
}

#table_verify tr:hover {
  background-color: limegreen;
}

#popup_verify .container_buttons {
  display: flex;
}

#popup_verify button {
  background-color: mediumspringgreen;
  color: green;
  width: 20vw;
  height: 5vh;
  margin: 2% 11%;
}


/**html sources at addQueTemp.js file**/

/********New Question Box********/
.question {
  width: 95%;
  height: auto;
  border: 1px dotted grey;
  margin: 1vh 0.2vw;
  padding: 2vh 1vw;
  float: left;
}

.answer {
  width: inherit;
  padding: 1vh 1vw;
  float: left;
}

.textarea {
  width: 98%;
}

.label {
  color: darkblue;
  width: 20%:
  margin-left: 10px;
}

.option {
  width: 50%;
  height: 4vh;
}

.que_remove {
  background-color: blue;
  margin: 5% 26%;
  width: 48%;
}
