a:link{
    text-decoration: none;

}
a:hover{
    opacity: 0.5;
}

.tasks a {
  text-decoration: none;
  margin-left: 25%;
  color: gray;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.tasks  {
  padding: 75px 0;
	background-color:#3b3a36;

}
