input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: yellow;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -webkit-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -moz-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -o-linear-gradient(to right, white 15%, yellow 50%, white 85%);
}

input[type=submit] {
    width: 100px;
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
}

input[type=number] {
    width: 100%;
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -webkit-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -moz-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -o-linear-gradient(to right, white 15%, yellow 50%, white 85%);
}

input[type=submit]:hover {
    background-color: yellow;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

lable{
    text-align: left;
}

.body_navigation {
  background: linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -webkit-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -moz-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  background: -o-linear-gradient(to right, white 15%, yellow 50%, white 85%);
  width: 100vw;
  height: 27vmin;
  min-height: 80px;
}

.body_navigation ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  font-size: 4vmin;
  font-weight: 500;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  text-align: center;
}

.body_navigation ul li a {
  text-decoration: none;
  color: grey;
}

.body_navigation ul li a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: black;
}