.navigate ul {
  justify-content:flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
}

.navigate ul li:last-child {
  margin-left:;
  justify-content:flex-end;
}


.container_modules {
	display: none;
/*
	margin:10px;
	margin-left: 20%;
	margin-right:20%;
*/
	padding:10px;
	background-color:#64706c	;

}

.module_data {
	margin:20px;
	margin-left: 5%;
	margin-right:10%;
	padding-bottom:60px;
	padding-top:60px;
	background-color:#424242;
/*	border-radius: 10px;*/

}


.modules ul {
   list-style-type : none;
}

.module_data label{
    color:black;
	padding-bottom: 10px;
	margin: 20%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container_buttons {

	padding: 30px;
	/*
	margin-left: 20%;
	margin-right: 20%;
*/
	background-color: #64706c;

}

.assign_button {
	width:33%;
	border-radius: 5px;
	height: 30px;
	background-color: #3b3a36;
	border-style: hidden;
  font-size: 15px;
}


button[type="submit"] {
  width : 33%;
}

button:hover {
  opacity: 0.7;
}

.confirmBox {
  display: none;
  background-color: #c0dfd9;
/*  border: 1px solid #aaa;*/
  position: fixed;
  width: 300px;
  height: 100px;
  left: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

.message {
  text-align: center;
  margin-bottom: 8px;
}

.confirmBox .button {
  background-color: #b3c2bf;
  display: inline-block;
/*  border-radius: 3px;*/
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.confirmBox .button:hover {

}


.que_remove {
	background-color: #b3c2bf;
	margin-left: 33%;
	margin-right: 27%;
/*	border-radius: 5px;*/
	height: 30px;
	border-style: hidden;
}


.module_name, .term, .lecturer {
    margin-left: 23%;
	margin-bottom: 20px;
/*	border-radius: 5px;*/
	height :30px;
	width : 52%;
	background-color:#c9c9c9;
	border-style: hidden;

}

.description{
	margin-left: 23%;
	margin-bottom: 20px;
/*	border-radius: 5px;*/
	height :60px;
	width : 52%;
	background-color:#c9c9c9;
	border-style: hidden;
}

.basic_data{
	padding:30px;
	background-color:#3b3a36;

}


.basic_data input[type=number] ,.basic_data input[list] , .basic_data datalist, .basic_data select,.basic_data input[type=text]{
  margin-left: 25%;
	margin-bottom: 20px;
	height :30px;
	width : 50%;
	background-color:#c9c9c9;
	border-style: hidden;
	color:#5a5c51;
 }


.basic_data label{
  color:#c0dfd9;
	margin-bottom: 10px;
	margin: 20%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-style: hidden;
}

.basic_data h5{
  font-size: 35px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #C0C0C0;
}

.added_php{
  display: none;
}
