/******************************************************
BASIC
******************************************************/
html {
  width: 100vw;
}

body {
  margin: 0;
  background-color: lightyellow;
}



/******************************************************
HEADING
******************************************************/

/******** Main heading box ********/
.heading {
  width: 100vw;
  height: 18vmin;
  background: linear-gradient(to right, white 20%, yellow 90%);
  background: -webkit-linear-gradient(to right, white 20%, yellow 90%);
  background: -moz-linear-gradient(to right, white 20%, yellow 90%);
  background: -o-linear-gradient(to right, white 20%, yellow 90%);
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
}

/******** Logo and name ********/
#logo_name {
  text-decoration: none;
  color: black;
  font-size: 3vmin;
  text-align: center;
  width: 100vw;
  height: auto;
}

#logo_name :hover {
  background: linear-gradient(to right, silver, black);
  background: -webkit-linear-gradient(to right, silver, black);
  background: -moz-linear-gradient(to right, silver, black);
  background: -o-linear-gradient(to right, silver, black);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

/******** Main topic text ********/
.head_voc {
  margin-bottom: -3vmin;
}

/******** Main topic image ********/
.heading img {
  align-self: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  -o-align-self: center;
  width: 15%;
  max-height: 15vmin;
  max-width: 18vmin;
  float: left;
  margin: 10px 10px 10px 10px;
}

/******** Navigation panel ********/
.navigate ul {
  background: linear-gradient(to right, white 20%, yellow 90%);
  background: -webkit-linear-gradient(to right, white 20%, yellow 90%);
  background: -moz-linear-gradient(to right, white 20%, yellow 90%);
  background: -o-linear-gradient(to right, white 20%, yellow 90%);
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 3vmin;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
}

.navigate ul li {
  margin-right: 0.8em;
}

.navigate ul li:last-child {
  margin-left: auto;
}

.navigate ul li a{
  text-decoration: none;
  color: grey;
}

.navigate .selected {
  color: black;
}

.navigate :hover {
  color: black;
}
