.container{
	height: auto;
	padding: 20px;
	background-color: #808080;
}

.course_container{
	margin :20px;
	background-color: #3b3a36;
}

.ctable {

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
	margin-top: 20px

}


.ctable tr:nth-child(even){background-color: #f2f2f2;}

.ctable tr:hover {background-color: #ddd;}

.ctable th {
	border: solid darkgray;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #D3D3D3;
  color: black;
}

.ctable td{
	border: solid darkgray;
	text-align: center;
	padding: 10px;
}

#modules {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;s
	margin-top: 20px;
	margin-bottom:20px;
	padding: 20px;
}

#modules td, #modules th {
  padding: 8px;
	border: solid darkgray;
}

#modules tr:nth-child(even){background-color: #f2f2f2;}

#modules tr:hover {background-color: #ddd;}

#modules th {
	border: solid darkgray;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #D3D3D3;
  color: black;
}

#modules	 td{
	border: solid darkgray;
	text-align: center;
}


 ul{
	list-style-type: none;
}

.buttons{
	height:50px;
	margin:5px;
	padding:5px;
}

.reject, .approve{
	width:49%;
	height: 30px;
	justify-content: center;
	padding:5px 5px;
	background-color: 	#808080;
	border-color: azure;
	font-size: 15px;
}

.desc_h{
	display: none;
}

.descrip{
	display: none;
}

.approve:hover{
	background-color: green;
}

.reject:hover{
	background-color: green;
}

.container .courses .course_container h4{
	color: 	#C0C0C0;
	text-align: center;
	font-size: 35px;
	padding: 20px;
}

.def_buttons{
	height:75px;
	padding:5px;
	width : 100%;
}

.def 	{
	width:50%;
	height: 40px;
	margin-left: 25%;
	font-size: 20px;
	background-color:#3b3a36;
	border-color: azure;
}

.def:hover{
	background-color: green;
}

.confirmBox {
  display: none;
  background-color: lightyellow;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed; top: 50%; left: 50%; width: 600px; height: 100px; margin-left: -300px; margin-top: -200px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

.message {
  text-align: center;
  margin-bottom: 8px;
}


.confirmBox .button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.confirmBox .button:hover {
  background-color: #ddd;
}


.container h5{
  font-size: 35px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: 	#303030;
}
