a:link{
    text-decoration: none;
    color: red;
}

.tasks  {

	padding: 20px;
	background-color:#3b3a36;

}

.tasks ul li{
  margin-left: 25%;
  margin-bottom: 10px;
  font-size: 20px;
}

.tasks ul {
	list-style: none;
	text-decoration: none;
	color:#e9ece5;
}


.tasks ul li a {
  color: gray;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.tasks ul li a:hover{
  opacity: 0.5;
}
