.validation{
width:auto;
height:auto;
background-image:url("../Imgs/valid.jpg");
}

.headerpart{
width:auto;
height:400px;
background-image:url('../Imgs/training_2.jpg');
}
h1{
color:white;
}
h2{
color:LightSlateGrey;
}
.bodypart{
width:auto;
height:auto;
font-size:22;
}
.NIC{
width:751px;
height:400px;
background-image:url('../Imgs/results.png');
display:inline-block;
}
.Examresults{
width:752px;
height:400px;
background-image:url('../Imgs/results.png');
float:right;
}